<div id="banner-content" class="row clearfix">

    <div class="col-38">

        <div class="section-heading">
            <h1>Portfolio and open services</h1>
            <h2>We offer our services and skills that you will love. We have a web developer, software engineer, machine learning engineer, and designer.</h2>
        </div>

        <!--Call to Action-->
        <a href="#" class="button">START CREATING TODAY</a>
        <!--End Call to Action-->

    </div>

</div>
