<div id="services" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">


        <!--Content Left Side-->
        <div class="col-3">
            <!--User Testimonial-->
            <blockquote class="testimonial text-right bigtest">
                <q>Their services have helped us enhance our product by 99%. Uh, I think that's too much—I'm just making that up.</q>
                <footer>— John Doe, Doe family</footer>
            </blockquote>
            <!-- End of Testimonial-->

        </div>
        <!--End Content Left Side-->

        <!--Content of the Right Side-->
        <div class="col-3">
            <div class="section-heading">
                <h3>BELIEVING</h3>
                <h2 class="section-title">Focusing on what matters most</h2>
                <p class="section-subtitle">Machine learning (ML) is an umbrella term for solving problems for which development of
                  algorithms by human programmers would be cost-prohibitive, and instead the problems are solved by helping machines
                  "discover" their "own" algorithms.</p>
            </div>
            <p>By identifying patterns in your company's data, machine learning can be a valuable tool to inform your company's
               decision-making process. With our assistance, it will become easier for you to harness its power. You can use it
               to make predictions, such as forecasting future stock market trends.</p>
            <p>A charming artwork design can add a delightful touch to your company.</p>
            <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
            <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </div>
        <!--End Content Right Side-->

        <div class="col-3">
            <img src="images/dancer.jpg" alt="Dancer"/>
        </div>

    </div>


</div>
