<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

        <div class="section-heading">
            <h3>FEEDBACK</h3>
            <h2 class="section-title">What our customers are saying</h2>
        </div>

        <!--User Testimonial-->
        <blockquote class="col-3 testimonial classic">
            <img src="images/user-images/user-1.jpg" alt="User"/>
            <q>I feel like an idiot for not using their services.</q>
            <footer>CEO's friend - Student</footer>
        </blockquote>
        <!-- End of Testimonial-->

        <!--User Testimonial-->
        <blockquote class="col-3 testimonial classic">
            <img src="images/user-images/user-2.jpg" alt="User"/>
            <q>At first, I wondered, 'Why would we use their services?' However, after giving it a try, I decided to utilize their services for all my projects.</q>
            <footer>Roslyn Doe - A member of the Doe family</footer>
        </blockquote>
        <!-- End of Testimonial-->

        <!--User Testimonial-->
        <blockquote class="col-3 testimonial classic">
            <img src="images/user-images/user-3.jpg" alt="User"/>
            <q>I'm here because they urged me.</q>
            <footer>Jack - Freelancer</footer>
        </blockquote>
        <!-- End of Testimonial-->

    </div>

</aside>
