---
import Navigation from "@components/Navigation.tsx";

type Props = {
  title: string;
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.title}</title>
  </head>
  <body
    class="grid grid-rows-[auto_1fr] w-screen h-screen bg-gray-800 text-white"
  >
    <Navigation client:load pathname={Astro.url.pathname} />
    <slot />
  </body>
</html>
